/* *{
    background: #333;
}

div{
    background: gray;
}

.amarelo{
    background: yellow;
}

#vermelho{
    background: red;
}

div.amarelo#vermelho{
    background: purple;
} */

/* Exemplo 2 */

/* #ex2 div.amarelo div{
    background: blue;
}

#ex2 div.amarelo > div{
    background: green;
} */

/* Exemplo 3 */

/* #ex3 div.amarelo ~ div{
    background: green;
} */

/* n sei */

/* div.amarelo{
    height: 500px;
    width: 500px;
    padding: 50px;
    margin: 20px;
    border: 10px solid black;
}

div.amarelo div{
    width: 100%;
    height: 100%;
    background: green;
} */

.container{
    width: 100%;
    max-width: 600px;
    margin: auto; 
    padding: 0 20px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html{
    /* font-size: 12px; */
}

body{
    background: rgb(14, 152, 170);
}

header{
    height: 70px;
    width: 100%;
    background: rgb(6, 7, 5)
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

nav{
    height: 100%;
}

h1{
    text-align: center;
    font-size: 2.5em;
    background: rgb(167, 185, 2)
}

h2{
    text-align: center;
    font-size: 2.0em;
    background: rgb(167, 185, 2)
}

section{
    height: 50vh;
    width: 100%;
    background: rgb(96, 96, 100);
    font-size: 12px;
    text-align: center;
}

p{
    font-size: 1.6em;
    line-height: 1.5;
}

footer{
    height: 70px;
    width: 100%;
    background: #222;
}


